.advantages {
  width: 100%;
  padding-bottom: 105px;
  padding-top: 81px;
}

.advantages__wrapper {
  @include min-desktop-wrapper;

  & ul {
    @include list-reducer;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;

    &::before {
      @include pseudo(336px, 324px);
      top: 0;
      left: 0;
      margin-left: -173px;
      margin-top: -35px;
      z-index: -1;

      background-image: url("../img/triangle_small.svg");

      transform: rotate(180deg);
    }

    &::after {
      @include pseudo(336px, 324px);
      top: 316px;
      right: 0;
      margin-right: -346px;
      z-index: -1;
      background-image: url("../img/triangle_small.svg");
    }
  }

  & li {
    position: relative;
    margin: 0;
    margin-top: 30px;
    padding: 41px 41px 40px 45px;
    width: calc(50% - 15px);
    min-height: 299px;

    border: 1px solid $advantages-item-border;
    background: $white;
    cursor: pointer;
    overflow: hidden;
  }

  & li:not(:nth-of-type(even)) {
    margin-right: 30px;
  }

  & li::before {
    @include pseudo(100%, 100%);
    top: 0;
    right: 0;
    left: calc(-100% + 3px);
    background: $colored-button;
    z-index: 1;
    transition: 300ms ease-in;
  }

  & li:hover::before {
    left: 0;
  }

  & li:hover {
    & h3,
    & p {
      color: $white;
    }

    & svg {
      fill: $white;
    }
  }
}

.advantages__card {
  position: relative;
  z-index: 2;

  & svg {
    fill: $colored-button;

    transition: 300ms;
  }

  & h3 {
    margin: 0;
    margin-top: 18px;
    padding: 0;

    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 1.5rem;
    line-height: 1.4;
    color: $colored-button;
    font-weight: normal;

    transition: 300ms;
  }

  & p {
    margin: 0;
    margin-top: 16px;
    padding: 0;
    font-size: 1rem;
    line-height: 1.37;
    color: $main-text-color;

    transition: 300ms;
  }
}

@media (max-width: $tablet-width) {
  .advantages {
    padding: 22px 0 50px;
  }

  .advantages__wrapper {
    padding: 0 $tablet-padding;

    & ul::before,
    & ul::after {
      display: none;
    }

    & li {
      padding: 23px 19px 28px 26px;
      min-height: auto;
    }

    & li::before {
      leftt: calc(-100% + 2px);
    }

    & li:nth-of-type(4) {
      padding-bottom: 37px;

      & svg {
        width: 32px;
        height: 32px;
      }
    }

    & li:nth-of-type(3) {
      & h3 {
        margin-top: 9px;
      }

      & p {
        margin-top: 17px;
      }

      & svg {
        width: 30px;
        height: 26px;
      }
    }

    & li:first-of-type svg {
      width: 29px;
      height: 35px;
    }

    & li:nth-of-type(2) svg {
      width: 32px;
      height: 32px;
    }
  }

  .advantages__card {
    height: 100%;

    & h3 {
      margin-top: 4px;
    }

    & p {
      margin-top: 12px;
    }
  }
}

@media (max-width: $mobile-width) {
  .advantages {
    padding: 18px 0 56px 0;
  }

  .advantages__wrapper {
    min-width: $min-mobile-width;
    padding: 0 $mobile-padding;

    & ul {
      flex-direction: column;

      & li {
        margin: 20px 0 0;
      }
    }

    & li {
      width: 100%;
      padding: 23px 20px 28px 26px;
    }

    & li:nth-of-type(2) {
      padding-right: 12px;

      & p {
        margin-top: 12px;
      }
    }

    & li:nth-of-type(3) {
      padding-bottom: 55px;
    }

    & li:nth-of-type(4) {
      padding-bottom: 30px;

      h3 {
        margin-top: 7px;
      }

      & p {
        margin-top: 14px;
      }
    }
  }

  .advantages__card {
    & h3 {
      margin-top: 11px;
      font-size: 1.25rem;
    }

    & p {
      margin-top: 10px;
    }
  }
}
