.form {
  color: $white;

  & form {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  & h2 {
    @include h2-fontstyle;
    margin: 0;
    margin-top: 4px;
  }

  & p {
    margin: 0;
    margin-top: 12px;
    padding: 0;
    line-height: 1.37;
  }

  & input,
  & textarea {
    -webkit-appearance: none;

    padding: 14px 16px;
    background: none;
    border: none;
    background-color: rgba($color: $white, $alpha: 0.1);
    color: $white;
  }

  & input:focus,
  & textarea:focus {
    outline: 1px solid $white;
  }

  & input::placeholder,
  & textarea::placeholder {
    color: $white;
  }
}

.form__user-info {
  width: 100%;
  display: flex;
  justify-content: space-between;

  & label {
    width: 50%;
  }

  & label:not(:last-of-type) {
    margin-right: 30px;
  }

  & input {
    width: 100%;
    height: 50px;
  }
}

.form__textarea {
  width: 100%;
  margin: 40px 0;

  & textarea {
    width: 100%;
    height: 154px;
    resize: none;
  }
}

.form__submition {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  & label {
    margin-top: 10px;
    width: 44%;
    font-size: 0.87rem;
    line-height: 1;

    cursor: pointer;
  }

  & label:hover,
  & label:focus {
    opacity: 0.7;
  }

  & span:first-of-type {
    position: relative;
    margin-top: -31px;
    margin-right: 6px;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;

    border: 1px solid $white;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      display: none;
      margin-left: -3px;
      margin-top: -3px;
      width: 7px;
      height: 4px;

      border-left: 1px solid $white;
      border-bottom: 1px solid $white;

      transform: rotate(-45deg);
    }
  }

  & span:last-of-type {
    display: inline-block;
    width: 80%;
  }

  & input:checked + span::before {
    display: block;
  }

  & .button {
    margin-right: 40px;
    width: calc(53% - 30px);
  }
}

@media (max-width: $tablet-width) {
  .form {
    & h2 {
      font-size: 2rem;
    }

    & p {
      margin: 17px 0 0;
    }

    & form {
      margin-top: 55px;
    }
  }

  .form__textarea {
    & textarea {
      height: 162px;
    }
  }
}

@media (max-width: $mobile-width) {
  .form {
    & h2 {
      font-size: 1.75rem;
    }

    & p {
      margin-top: 16px;
    }

    & form {
      margin-top: 25px;
    }
  }

  .form__user-info {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .form__user-info label:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .form__user-info label {
    width: 100%;
  }

  .form__submition {
    & .button {
      margin: 0;
      margin-top: 30px;
      width: 100%;
    }

    & label {
      margin-top: 30px;
      width: 100%;
    }
  }

  .form__textarea {
    margin: 33px 0 0;

    & textarea {
      height: 104px;
    }
  }
}
