@mixin list-reducer {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin title($size, $height, $color: $darkest) {
  margin: 0;
  padding: 0;

  font-size: $size;
  font-weight: normal;
  font-style: normal;
  line-height: $height;
  letter-spacing: normal;
  color: $color;
}

@mixin flex-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin link {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin desktop-wrapper {
  max-width: $wrapper-width;
  padding: 0 20px;
  margin: 0 auto;
}

@mixin min-desktop-wrapper {
  max-width: $min-wrapper-width;
  padding: 0 15px;
  margin: 0 auto;
}

@mixin pseudo($width, $height) {
  content: "";
  position: absolute;
  width: $width;
  height: $height;
}

@mixin h2-fontstyle {

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 2.25rem;
  font-weight: normal;
  line-height: 1.41;
  color: $white;
}
