$min-mobile-width: 320px;
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1920px;
$wrapper-width: 1440px;
$mobile-padding: 15px;
$tablet-padding: 30px;
$desktop-padding: 40px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$bg-header: #1b2a31;
$bg-dark: #1b2d37;
$black: #000000;
$white: #ffffff;
$form-color: #00b2ff;
$colored-button: #00b2ff;
